@mixin alertGridDarkMode() {
  @media (prefers-color-scheme: dark) {
    .alert-grid {
      &__table {
        background: #1e1e1e;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
      }

      &__header {
        background: #2c2c2c;
        color: #ddd;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
      }

      &__row {
        border-top: 1px solid #444;

        &:hover {
          background-color: #333;
        }
      }

      &-severity {
        color: #fff;

        &-moderate {
          background-color: #fbbc04;
          color: #000; // still readable
        }

        &-unknown {
          background-color: #777;
        }
      }
    }
  }
}


@mixin headerDarkMode() {
  @media (prefers-color-scheme: dark) {
    .header {
      background: #1e1e1e;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);

      &__icon {
        color: #8ab4f8; // Google blue but adjusted for dark mode
      }

      .react-datepicker__input-container input::placeholder,
      &__search::placeholder,
      &__title {
        color: white !important;
      }

      &__select {
        background-color: #2c2c2c;
        color: #e8eaed;
        border-color: #5f6368;

        &:focus {
          border-color: #8ab4f8;
          box-shadow: 0 0 4px rgba(138, 180, 248, 0.3);
        }
      }

      &__search {
        background-color: #2c2c2c;
        color: #e8eaed;
        border-color: #5f6368;

        &:focus {
          border-color: #8ab4f8;
          box-shadow: 0 0 6px rgba(138, 180, 248, 0.6);
        }

        &::placeholder {
          color: #9aa0a6;
        }
      }

      &__date-picker {
        background: #2c2c2c;
        color: #e8eaed;
        border-color: #5f6368;

        &:focus {
          border-color: #8ab4f8;
          box-shadow: 0 0 4px rgba(138, 180, 248, 0.6);
        }

        &::placeholder {
          color: #9aa0a6;
        }
      }
    }
  }
}